### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how= "outer", on= (["school_name", "school_name"]))

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
school_name = school_data_complete["school_name"].unique()
school_count = len(school_name)
school_count

15

In [67]:
school_budget = school_data_complete["budget"].unique()
budget_total = school_budget.sum()
budget_total

24649428

In [18]:
student_IDs = school_data_complete["Student ID"].unique()
student_count = len(student_IDs)
student_count

39170

In [25]:
math_scores = school_data_complete["math_score"].sum()
math_average = math_scores/len(school_data_complete["math_score"])
math_average

78.98537145774827

In [27]:
read_scores = school_data_complete["reading_score"].sum()
read_average = read_scores/len(school_data_complete["reading_score"])
read_average

81.87784018381414

In [30]:
overall_passing_rate = (math_average + read_average)/2
overall_passing_rate

80.43160582078121

## School Summary

In [62]:
passing_math = school_data_complete["math_score"]>69.9
pass_math_percent = np.count_nonzero(passing_math)/len(school_data_complete["math_score"])
pass_math_percent

0.749808526933878

In [63]:
passing_reading = school_data_complete["reading_score"]>69.9
pass_reading_percent = np.count_nonzero(passing_reading)/len(school_data_complete["reading_score"])
pass_reading_percent

0.8580546336482001

In [69]:
Summary_table = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [budget_total],
                              "Average Math Score": [math_average],
                              "Average Reading Score": [read_average],
                              "% Passing Math": [pass_math_percent],
                              "% Passing Reading": [pass_reading_percent],
                             "% Overall Passing Rate": [overall_passing_rate]})
Summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [77]:
group_school = school_data_complete.groupby(["school_name"])
group_school.describe()

                      Student ID                                           \
                           count     mean          std      min       25%
school_name
Bailey High School        4976.0  20358.5  1436.591800  17871.0  19114.75
Cabrera High School       1858.0  16941.5   536.502718  16013.0  16477.25
Figueroa High School      2949.0   4391.0   851.447297   2917.0   3654.00
Ford High School          2739.0  36165.0   790.825518  34796.0  35480.50
Griffin High School       1468.0  12995.5   423.919411  12262.0  12628.75
Hernandez High School     4635.0   9944.0  1338.153579   7627.0   8785.50
Holden High School         427.0  23060.0   123.408536  22847.0  22953.50
Huang High School         2917.0   1458.0   842.209693      0.0    729.00
Johnson High School       4761.0  32415.0  1374.526646  30035.0  31225.00
Pena High School           962.0  23754.5   277.849780  23274.0  23514.25
Rodriguez High School     3999.0  28035.0  1154.556192  26036.0  27035.50
Shelton High School       1761.0   6746.0   508.501229   5866.0   6306.00
Thomas High School        1635.0  38352.0   472.128161  37535.0  37943.50
Wilson High School        2283.0  14871.0   659.189654  13730.0  14300.50
Wright High School        1800.0  25135.5   519.759560  24236.0  24685.75

                                                  reading_score             \
                           50%       75%      max         count       mean
school_name
Bailey High School     20358.5  21602.25  22846.0        4976.0  81.033963
Cabrera High School    16941.5  17405.75  17870.0        1858.0  83.975780
Figueroa High School    4391.0   5128.00   5865.0        2949.0  81.158020
Ford High School       36165.0  36849.50  37534.0        2739.0  80.746258
Griffin High School    12995.5  13362.25  13729.0        1468.0  83.816757
Hernandez High School   9944.0  11102.50  12261.0        4635.0  80.934412
Holden High School     23060.0  23166.50  23273.0         427.0  83.814988
Huang High School       1458.0   2187.00   2916.0        2917.0  81.182722
Johnson High School    32415.0  33605.00  34795.0        4761.0  80.966394
Pena High School       23754.5  23994.75  24235.0         962.0  84.044699
Rodriguez High School  28035.0  29034.50  30034.0        3999.0  80.744686
Shelton High School     6746.0   7186.00   7626.0        1761.0  83.725724
Thomas High School     38352.0  38760.50  39169.0        1635.0  83.848930
Wilson High School     14871.0  15441.50  16012.0        2283.0  83.989488
Wright High School     25135.5  25585.25  26035.0        1800.0  83.955000

                       ...    size          budget                             \
                       ...     75%     max   count       mean  std        min
school_name            ...
Bailey High School     ...  4976.0  4976.0  4976.0  3124928.0  0.0  3124928.0
Cabrera High School    ...  1858.0  1858.0  1858.0  1081356.0  0.0  1081356.0
Figueroa High School   ...  2949.0  2949.0  2949.0  1884411.0  0.0  1884411.0
Ford High School       ...  2739.0  2739.0  2739.0  1763916.0  0.0  1763916.0
Griffin High School    ...  1468.0  1468.0  1468.0   917500.0  0.0   917500.0
Hernandez High School  ...  4635.0  4635.0  4635.0  3022020.0  0.0  3022020.0
Holden High School     ...   427.0   427.0   427.0   248087.0  0.0   248087.0
Huang High School      ...  2917.0  2917.0  2917.0  1910635.0  0.0  1910635.0
Johnson High School    ...  4761.0  4761.0  4761.0  3094650.0  0.0  3094650.0
Pena High School       ...   962.0   962.0   962.0   585858.0  0.0   585858.0
Rodriguez High School  ...  3999.0  3999.0  3999.0  2547363.0  0.0  2547363.0
Shelton High School    ...  1761.0  1761.0  1761.0  1056600.0  0.0  1056600.0
Thomas High School     ...  1635.0  1635.0  1635.0  1043130.0  0.0  1043130.0
Wilson High School     ...  2283.0  2283.0  2283.0  1319574.0  0.0  1319574.0
Wright High School     ...  1800.0  1800.0  1800.0  1049400.0  0.0  1049400.0


                             25%        50%        75%        max
school_name
Bailey High School     3124928.0  3124928.0  3124928.0  3124928.0
Cabrera High School    1081356.0  1081356.0  1081356.0  1081356.0
Figueroa High School   1884411.0  1884411.0  1884411.0  1884411.0
Ford High School       1763916.0  1763916.0  1763916.0  1763916.0
Griffin High School     917500.0   917500.0   917500.0   917500.0
Hernandez High School  3022020.0  3022020.0  3022020.0  3022020.0
Holden High School      248087.0   248087.0   248087.0   248087.0
Huang High School      1910635.0  1910635.0  1910635.0  1910635.0
Johnson High School    3094650.0  3094650.0  3094650.0  3094650.0
Pena High School        585858.0   585858.0   585858.0   585858.0
Rodriguez High School  2547363.0  2547363.0  2547363.0  2547363.0
Shelton High School    1056600.0  1056600.0  1056600.0  1056600.0
Thomas High School     1043130.0  1043130.0  1043130.0  1043130.0
Wilson High School     1319574.0  1319574.0  1319574.0  1319574.0
Wright High School     1049400.0  1049400.0  1049400.0  1049400.0

[15 rows x 48 columns]

In [104]:
totals_by_school = group_school["Student ID"].count()
totals_by_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [107]:
group_school_type = school_data_complete.groupby(["type"]).count()
group_school_type

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,size,budget
type,,,,,,,,,,
Charter,12194,12194,12194,12194,12194,12194,12194,12194,12194,12194
District,26976,26976,26976,26976,26976,26976,26976,26976,26976,26976

In [105]:
group_summary = pd.DataFrame({"Total Students": [totals_by_school],
                             "Type of School": [group_school_type]})
group_summary

,Total Students,Type of School
0,school_name Bailey High School 4976 Cabr...,<pandas.core.groupby.generic.DataFrameGroupBy ...

In [94]:
group_school_type["reading_score"].value_counts()

type      reading_score
Charter   87               459
          70               426
          79               419
          85               416
          86               413
          98               411
          69               409
          91               407
          81               406
          83               403
          74               402
          84               402
          92               401
          93               401
          77               400
          72               399
          71               397
          99               391
          94               390
          75               388
          73               387
          95               381
          82               380
          89               376
          76               375
          90               369
          96               368
          80               361
          78               354
          88               352
                          ...
District  75               761
          65               758
          98               755
          63               751
          68               746
          95               745
          66               743
          64               738
          90               736
          73               725
          78               724
          94               724
          72               721
          96               721
          89               719
          81               715
          67               714
          76               712
          85               712
          93               709
          74               704
          87               702
          69               701
          86               700
          79               697
          70               684
          99               684
          71               676
          97               675
          91               669
Name: reading_score, Length: 68, dtype: int64

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.