### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [480]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how= "outer", on= (["school_name", "school_name"]))

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [481]:
school_name = school_data_complete["school_name"].unique()
school_count = len(school_name)
school_count

15

In [482]:
school_budget = school_data_complete["budget"].unique()
budget_total = school_budget.sum()
budget_total

24649428

In [585]:
school_budget

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [586]:
school_data_complete.head(16)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635

In [483]:
student_IDs = school_data_complete["Student ID"].unique()
student_count = len(student_IDs)
student_count

39170

In [484]:
math_scores = school_data_complete["math_score"].sum()
math_average = math_scores/len(school_data_complete["math_score"])
math_average

78.98537145774827

In [485]:
read_scores = school_data_complete["reading_score"].sum()
read_average = read_scores/len(school_data_complete["reading_score"])
read_average

81.87784018381414

In [486]:
overall_passing_rate = (math_average + read_average)/2
overall_passing_rate

80.43160582078121

## School Summary

In [487]:
passing_math = school_data_complete["math_score"]>69.9
pass_math_percent = np.count_nonzero(passing_math)/len(school_data_complete["math_score"])
pass_math_percent

0.749808526933878

In [488]:
passing_reading = school_data_complete["reading_score"]>69.9
pass_reading_percent = np.count_nonzero(passing_reading)/len(school_data_complete["reading_score"])
pass_reading_percent

0.8580546336482001

In [489]:
Summary_table = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [budget_total],
                              "Average Math Score": [math_average],
                              "Average Reading Score": [read_average],
                              "% Passing Math": [pass_math_percent],
                              "% Passing Reading": [pass_reading_percent],
                             "% Overall Passing Rate": [overall_passing_rate]})
Summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [493]:
#Bailey_reading = school_metrics.loc['Cabrera High School', 'reading_score']
#Bailey_math = school_metrics.loc['Cabrera High School', 'math_score']
#Overall_Bailey = (Bailey_reading + Bailey_math)/2
#Overall_Bailey

In [494]:
Schools = school_data_complete.set_index("school_name")

District    2917
Name: type, dtype: int64

In [496]:

Huang = Schools.loc["Huang High School"]
Huang_pass_read = Huang["reading_score"]>69.9
Huang_reading_percent = np.count_nonzero(Huang_pass_read)/len(Huang["reading_score"])
Huang_reading_percent

0.8131642098045938

In [497]:

Huang_pass_math = Huang["math_score"]>69.9
Huang_math_percent = np.count_nonzero(Huang_pass_math)/len(Huang["math_score"])
Huang_math_percent

0.6568392183750429

In [498]:
Cabrera = Schools.loc["Cabrera High School"]
Cabrera_pass_read = Cabrera["reading_score"]>69.9
Cabrera_reading_percent = np.count_nonzero(Cabrera_pass_read)/len(Cabrera["reading_score"])
Cabrera_reading_percent

0.9703982777179763

In [499]:

Cabrera_pass_math = Cabrera["math_score"]>69.9
Cabrera_math_percent = np.count_nonzero(Cabrera_pass_math)/len(Cabrera["math_score"])
Cabrera_math_percent

0.9413347685683531

In [500]:
Bailey = Schools.loc["Bailey High School"]
Bailey_pass_read = Bailey["reading_score"]>69.9
Bailey_reading_percent = np.count_nonzero(Bailey_pass_read)/len(Bailey["reading_score"])
Bailey_reading_percent

0.8193327974276527

In [501]:
Bailey_pass_math = Bailey["math_score"]>69.9
Bailey_math_percent = np.count_nonzero(Bailey_pass_math)/len(Bailey["math_score"])
Bailey_math_percent

0.6668006430868167

In [502]:
Figueroa = Schools.loc["Figueroa High School"]
Figueroa_pass_read = Figueroa["reading_score"]>69.9
Figueroa_reading_percent = np.count_nonzero(Figueroa_pass_read)/len(Figueroa["reading_score"])
Figueroa_reading_percent

0.8073923363852153

In [503]:
Figueroa_pass_math = Figueroa["math_score"]>69.9
Figueroa_math_percent = np.count_nonzero(Figueroa_pass_math)/len(Figueroa["math_score"])
Figueroa_math_percent

0.6598847066802306

In [504]:
Ford = Schools.loc["Ford High School"]
Ford_pass_read = Ford["reading_score"]>69.9
Ford_reading_percent = np.count_nonzero(Ford_pass_read)/len(Ford["reading_score"])
Ford_reading_percent

0.7929901423877328

In [505]:
Ford_pass_math = Ford["math_score"]>69.9
Ford_math_percent = np.count_nonzero(Ford_pass_math)/len(Ford["math_score"])
Ford_math_percent

0.6830960204454181

In [506]:
Griffin = Schools.loc["Griffin High School"]
Griffin_pass_read = Griffin["reading_score"]>69.9
Griffin_reading_percent = np.count_nonzero(Griffin_pass_read)/len(Griffin["reading_score"])
Griffin_reading_percent

0.9713896457765667

In [507]:

Griffin_pass_math = Griffin["math_score"]>69.9
Griffin_math_percent = np.count_nonzero(Griffin_pass_math)/len(Griffin["math_score"])
Griffin_math_percent

0.9339237057220708

In [508]:
Hernandez = Schools.loc["Hernandez High School"]
Hernandez_pass_read = Hernandez["reading_score"]>69.9
Hernandez_reading_percent = np.count_nonzero(Hernandez_pass_read)/len(Hernandez["reading_score"])
Hernandez_reading_percent

0.8086299892125135

In [509]:
Hernandez_pass_math = Hernandez["math_score"]>69.9
Hernandez_math_percent = np.count_nonzero(Hernandez_pass_math)/len(Hernandez["math_score"])
Hernandez_math_percent

0.667529665587918

In [510]:
Holden = Schools.loc["Holden High School"]
Holden_pass_read = Holden["reading_score"]>69.9
Holden_reading_percent = np.count_nonzero(Holden_pass_read)/len(Holden["reading_score"])
Holden_reading_percent

0.9625292740046838

In [511]:
Holden_pass_math = Holden["math_score"]>69.9
Holden_math_percent = np.count_nonzero(Holden_pass_math)/len(Holden["math_score"])
Holden_math_percent

0.9250585480093677

In [512]:
Johnson = Schools.loc["Johnson High School"]
Johnson_pass_read = Johnson["reading_score"]>69.9
Johnson_reading_percent = np.count_nonzero(Johnson_pass_read)/len(Johnson["reading_score"])
Johnson_reading_percent

0.8122243226212981

In [513]:
Johnson_pass_math = Johnson["math_score"]>69.9
Johnson_math_percent = np.count_nonzero(Johnson_pass_math)/len(Johnson["math_score"])
Johnson_math_percent

0.6605755093467759

In [514]:
Pena = Schools.loc["Pena High School"]
Pena_pass_read = Pena["reading_score"]>69.9
Pena_reading_percent = np.count_nonzero(Pena_pass_read)/len(Pena["reading_score"])
Pena_reading_percent

0.9594594594594594

In [515]:
Pena_pass_math = Pena["math_score"]>69.9
Pena_math_percent = np.count_nonzero(Pena_pass_math)/len(Pena["math_score"])
Pena_math_percent

0.9459459459459459

In [516]:
Rodriguez = Schools.loc["Rodriguez High School"]
Rodriguez_pass_read = Rodriguez["reading_score"]>69.9
Rodriguez_reading_percent = np.count_nonzero(Rodriguez_pass_read)/len(Rodriguez["reading_score"])
Rodriguez_reading_percent

0.8022005501375343

In [517]:
Rodriguez_pass_math = Rodriguez["math_score"]>69.9
Rodriguez_math_percent = np.count_nonzero(Rodriguez_pass_math)/len(Rodriguez["math_score"])
Rodriguez_math_percent

0.6636659164791198

In [518]:
Shelton = Schools.loc["Shelton High School"]
Shelton_pass_read = Shelton["reading_score"]>69.9
Shelton_reading_percent = np.count_nonzero(Shelton_pass_read)/len(Shelton["reading_score"])
Shelton_reading_percent

0.9585462805224304

In [519]:
Shelton_pass_math = Shelton["math_score"]>69.9
Shelton_math_percent = np.count_nonzero(Shelton_pass_math)/len(Shelton["math_score"])
Shelton_math_percent

0.938671209540034

In [520]:
Thomas = Schools.loc["Thomas High School"]
Thomas_pass_read = Thomas["reading_score"]>69.9
Thomas_reading_percent = np.count_nonzero(Thomas_pass_read)/len(Thomas["reading_score"])
Thomas_reading_percent

0.9730886850152906

In [521]:
Thomas_pass_math = Thomas["math_score"]>69.9
Thomas_math_percent = np.count_nonzero(Thomas_pass_math)/len(Thomas["math_score"])
Thomas_math_percent

0.9327217125382263

In [522]:
Wilson = Schools.loc["Wilson High School"]
Wilson_pass_read = Wilson["reading_score"]>69.9
Wilson_reading_percent = np.count_nonzero(Wilson_pass_read)/len(Wilson["reading_score"])
Wilson_reading_percent

0.9653964082347788

In [523]:
Wilson_pass_math = Wilson["math_score"]>69.9
Wilson_math_percent = np.count_nonzero(Wilson_pass_math)/len(Wilson["math_score"])
Wilson_math_percent

0.938677179150241

In [524]:
Wright = Schools.loc["Wright High School"]
Wright_pass_read = Wright["reading_score"]>69.9
Wright_reading_percent = np.count_nonzero(Wright_pass_read)/len(Wright["reading_score"])
Wright_reading_percent

0.9661111111111111

In [525]:
Wright_pass_math = Wright["math_score"]>69.9
Wright_math_percent = np.count_nonzero(Wright_pass_math)/len(Wright["math_score"])
Wright_math_percent

0.9333333333333333

In [597]:
budge = school_data_complete["budget"].unique()
budge

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [603]:
skool = school_data_complete["school_name"].unique()
skool

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [607]:
number_students = school_data_complete["size"].unique()

In [646]:
typo = Schools[["type"]] == "District"
typo

                     type
school_name
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
Huang High School    True
...                   ...
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False
Thomas High School  False

[39170 rows x 1 columns]

In [718]:
typers = school_data_complete.groupby(['school_name','type'])
typers.count().head(16)

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [719]:
skool_type = Schools.sort_values(['Student ID'])
skool_type.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [791]:
Summary = pd.DataFrame({"School Name" : skool,
                        
                        "Total School Size" : number_students ,
                        "Total School Budget" : budge,
                        "Per Student Budget": Per_student,
                        "Avg Math": school_metrics_avg
                        })
Summary.head(15)

,School Name,Total School Size,Total School Budget,Per Student Budget,Avg Math
0,Huang High School,2917,1910635,655.0,"(m, a, t, h, _, s, c, o, r, e)"
1,Figueroa High School,2949,1884411,639.0,"(m, a, t, h, _, s, c, o, r, e)"
2,Shelton High School,1761,1056600,600.0,"(m, a, t, h, _, s, c, o, r, e)"
3,Hernandez High School,4635,3022020,652.0,"(m, a, t, h, _, s, c, o, r, e)"
4,Griffin High School,1468,917500,625.0,"(m, a, t, h, _, s, c, o, r, e)"
5,Wilson High School,2283,1319574,578.0,"(m, a, t, h, _, s, c, o, r, e)"
6,Cabrera High School,1858,1081356,582.0,"(m, a, t, h, _, s, c, o, r, e)"
7,Bailey High School,4976,3124928,628.0,"(m, a, t, h, _, s, c, o, r, e)"
8,Holden High School,427,248087,581.0,"(m, a, t, h, _, s, c, o, r, e)"
9,Pena High School,962,585858,609.0,"(m, a, t, h, _, s, c, o, r, e)"
10,Wright High School,1800,1049400,583.0,"(m, a, t, h, _, s, c, o, r, e)"
11,Rodriguez High School,3999,2547363,637.0,"(m, a, t, h, _, s, c, o, r, e)"
12,Johnson High School,4761,3094650,650.0,"(m, a, t, h, _, s, c, o, r, e)"
13,Ford High School,2739,1763916,644.0,"(m, a, t, h, _, s, c, o, r, e)"
14,Thomas High School,1635,1043130,638.0,"(m, a, t, h, _, s, c, o, r, e)"

In [715]:
Per_student = Summary.iloc[:,2]/Summary.iloc[:,1]

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [790]:
group_school = school_data_complete.groupby("school_name")
school_metrics = group_school.mean()
school_metrics_math = school_metrics.iloc[:,2]
school_metrics_avg = school_metrics_math

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [664]:
Top_df = school_metrics.sort_values("reading_score", ascending=False)
Top_df.head(16)

,,Student ID,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.