### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [480]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how= "outer", on= (["school_name", "school_name"]))

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1030]:
school_name = school_data_complete["school_name"].unique()
school_count = len(school_name)

In [1031]:
school_budget = school_data_complete["budget"].unique()
budget_total = school_budget.sum()

In [1033]:
student_IDs = school_data_complete["Student ID"].unique()
student_count = len(student_IDs)

In [1034]:
math_scores = school_data_complete["math_score"].sum()
math_average = math_scores/len(school_data_complete["math_score"])

In [1035]:
read_scores = school_data_complete["reading_score"].sum()
read_average = read_scores/len(school_data_complete["reading_score"])

In [1036]:
overall_passing_rate = (math_average + read_average)/2

## School Summary

In [1037]:
passing_math = school_data_complete["math_score"]>69.9
pass_math_percent = np.count_nonzero(passing_math)/len(school_data_complete["math_score"])

In [1038]:
passing_reading = school_data_complete["reading_score"]>69.9
pass_reading_percent = np.count_nonzero(passing_reading)/len(school_data_complete["reading_score"])

In [489]:
Summary_table = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [budget_total],
                              "Average Math Score": [math_average],
                              "Average Reading Score": [read_average],
                              "% Passing Math": [pass_math_percent],
                              "% Passing Reading": [pass_reading_percent],
                             "% Overall Passing Rate": [overall_passing_rate]})
Summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [1039]:
Schools = school_data_complete.set_index("school_name")

In [1040]:
Pass_Math_percent_school = (Bailey_math_percent, Cabrera_math_percent,
                            Figueroa_math_percent, Ford_math_percent, Griffin_math_percent, Hernandez_math_percent
                           , Holden_math_percent, Huang_math_percent, Johnson_math_percent, Pena_math_percent, Rodriguez_math_percent,Shelton_math_percent
                           , Thomas_math_percent, Wilson_math_percent, Wright_math_percent)
Pass_Math_percent_school
Math_Percent_School = pd.Series(Pass_Math_percent_school)*100

In [1041]:
Pass_Reading_percent_school = (Bailey_reading_percent, Cabrera_reading_percent,Figueroa_reading_percent,Ford_reading_percent
                              ,Griffin_reading_percent,Hernandez_reading_percent,Holden_reading_percent,
                              Huang_reading_percent,Johnson_reading_percent,Pena_reading_percent,Rodriguez_reading_percent,
                              Shelton_reading_percent,Thomas_reading_percent,Wilson_reading_percent,Wright_reading_percent)
Read_Percent_School = pd.Series(Pass_Reading_percent_school)*100

In [1042]:

Huang = Schools.loc["Huang High School"]
Huang_pass_read = Huang["reading_score"]>69.9
Huang_reading_percent = np.count_nonzero(Huang_pass_read)/len(Huang["reading_score"])

In [1043]:

Huang_pass_math = Huang["math_score"]>69.9
Huang_math_percent = np.count_nonzero(Huang_pass_math)/len(Huang["math_score"])

In [1044]:
Cabrera = Schools.loc["Cabrera High School"]
Cabrera_pass_read = Cabrera["reading_score"]>69.9
Cabrera_reading_percent = np.count_nonzero(Cabrera_pass_read)/len(Cabrera["reading_score"])

In [1045]:

Cabrera_pass_math = Cabrera["math_score"]>69.9
Cabrera_math_percent = np.count_nonzero(Cabrera_pass_math)/len(Cabrera["math_score"])

In [1046]:
Bailey = Schools.loc["Bailey High School"]
Bailey_pass_read = Bailey["reading_score"]>69.9
Bailey_reading_percent = np.count_nonzero(Bailey_pass_read)/len(Bailey["reading_score"])

In [1047]:
Bailey_pass_math = Bailey["math_score"]>69.9
Bailey_math_percent = np.count_nonzero(Bailey_pass_math)/len(Bailey["math_score"])

In [1048]:
Figueroa = Schools.loc["Figueroa High School"]
Figueroa_pass_read = Figueroa["reading_score"]>69.9
Figueroa_reading_percent = np.count_nonzero(Figueroa_pass_read)/len(Figueroa["reading_score"])

In [1049]:
Figueroa_pass_math = Figueroa["math_score"]>69.9
Figueroa_math_percent = np.count_nonzero(Figueroa_pass_math)/len(Figueroa["math_score"])

In [1050]:
Ford = Schools.loc["Ford High School"]
Ford_pass_read = Ford["reading_score"]>69.9
Ford_reading_percent = np.count_nonzero(Ford_pass_read)/len(Ford["reading_score"])

In [1051]:
Ford_pass_math = Ford["math_score"]>69.9
Ford_math_percent = np.count_nonzero(Ford_pass_math)/len(Ford["math_score"])

In [1052]:
Griffin = Schools.loc["Griffin High School"]
Griffin_pass_read = Griffin["reading_score"]>69.9
Griffin_reading_percent = np.count_nonzero(Griffin_pass_read)/len(Griffin["reading_score"])

In [1053]:

Griffin_pass_math = Griffin["math_score"]>69.9
Griffin_math_percent = np.count_nonzero(Griffin_pass_math)/len(Griffin["math_score"])

In [1054]:
Hernandez = Schools.loc["Hernandez High School"]
Hernandez_pass_read = Hernandez["reading_score"]>69.9
Hernandez_reading_percent = np.count_nonzero(Hernandez_pass_read)/len(Hernandez["reading_score"])

In [1055]:
Hernandez_pass_math = Hernandez["math_score"]>69.9
Hernandez_math_percent = np.count_nonzero(Hernandez_pass_math)/len(Hernandez["math_score"])

In [1056]:
Holden = Schools.loc["Holden High School"]
Holden_pass_read = Holden["reading_score"]>69.9
Holden_reading_percent = np.count_nonzero(Holden_pass_read)/len(Holden["reading_score"])

In [920]:
Holden_pass_math = Holden["math_score"]>69.9
Holden_math_percent = np.count_nonzero(Holden_pass_math)/len(Holden["math_score"])
Holden_math_percent

0.9250585480093677

In [1057]:
Johnson = Schools.loc["Johnson High School"]
Johnson_pass_read = Johnson["reading_score"]>69.9
Johnson_reading_percent = np.count_nonzero(Johnson_pass_read)/len(Johnson["reading_score"])

In [1058]:
Johnson_pass_math = Johnson["math_score"]>69.9
Johnson_math_percent = np.count_nonzero(Johnson_pass_math)/len(Johnson["math_score"])

In [1059]:
Pena = Schools.loc["Pena High School"]
Pena_pass_read = Pena["reading_score"]>69.9
Pena_reading_percent = np.count_nonzero(Pena_pass_read)/len(Pena["reading_score"])

In [1060]:
Pena_pass_math = Pena["math_score"]>69.9
Pena_math_percent = np.count_nonzero(Pena_pass_math)/len(Pena["math_score"])

In [1061]:
Rodriguez = Schools.loc["Rodriguez High School"]
Rodriguez_pass_read = Rodriguez["reading_score"]>69.9
Rodriguez_reading_percent = np.count_nonzero(Rodriguez_pass_read)/len(Rodriguez["reading_score"])

In [1062]:
Rodriguez_pass_math = Rodriguez["math_score"]>69.9
Rodriguez_math_percent = np.count_nonzero(Rodriguez_pass_math)/len(Rodriguez["math_score"])

In [1063]:
Shelton = Schools.loc["Shelton High School"]
Shelton_pass_read = Shelton["reading_score"]>69.9
Shelton_reading_percent = np.count_nonzero(Shelton_pass_read)/len(Shelton["reading_score"])

In [1064]:
Shelton_pass_math = Shelton["math_score"]>69.9
Shelton_math_percent = np.count_nonzero(Shelton_pass_math)/len(Shelton["math_score"])

In [1065]:
Thomas = Schools.loc["Thomas High School"]
Thomas_pass_read = Thomas["reading_score"]>69.9
Thomas_reading_percent = np.count_nonzero(Thomas_pass_read)/len(Thomas["reading_score"])

In [1066]:
Thomas_pass_math = Thomas["math_score"]>69.9
Thomas_math_percent = np.count_nonzero(Thomas_pass_math)/len(Thomas["math_score"])

In [1067]:
Wilson = Schools.loc["Wilson High School"]
Wilson_pass_read = Wilson["reading_score"]>69.9

In [1068]:
Wilson_pass_math = Wilson["math_score"]>69.9
Wilson_math_percent = np.count_nonzero(Wilson_pass_math)/len(Wilson["math_score"])

In [1069]:
Wright = Schools.loc["Wright High School"]
Wright_pass_read = Wright["reading_score"]>69.9

In [1070]:
Wright_pass_math = Wright["math_score"]>69.9
Wright_math_percent = np.count_nonzero(Wright_pass_math)/len(Wright["math_score"])

In [1071]:
skool = school_data_complete.sort_values("school_name")
names = skool.groupby("school_name").count()
names2 = names.reset_index()
names3 = names2.iloc[:,0]

In [1072]:
budget_finder = school_data_complete.groupby('school_name')['budget'].mean()
budgets = budget_finder.unique()
budget_school = pd.Series(budgets)

In [1073]:
number_students = school_data_complete.groupby('school_name')['size'].mean()
student_total = number_students.unique()
total_students_school = pd.Series(student_total)

In [1074]:
type_find = school_data_complete.groupby(['school_name','type']).mean()
type_finder = type_find.iloc[:,1]
type_finder_school = type_finder.reset_index()
type_finder_schools = type_finder_school["type"]

In [1079]:
Summary = pd.DataFrame({"School Name" : names3,
                        "School Type": type_finder_schools,
                        "Total School Size" : total_students_school ,
                        "Total School Budget" : budget_school,
                        "Per Student Budget": Per_student,
                        "Avg Math": avg_math_complete,
                        "Avg Read" : avg_read_complete,
                        "%Passing Math" : Math_Percent_School,
                        "%Passing Reading" : Read_Percent_School,
                        "%Overall Passing Rate" : Overall_Pass_Rate
                        })
Summary.head(15)

,School Name,School Type,Total School Size,Total School Budget,Per Student Budget,Avg Math,Avg Read,%Passing Math,%Passing Reading,%Overall Passing Rate
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [1080]:
Per_student = Summary.iloc[:,3]/Summary.iloc[:,2]

In [1081]:
Overall_Pass_Rate = (Summary.iloc[:,6]+Summary.iloc[:,7])/2

In [1082]:
school_metrics_math = school_data_complete.groupby('school_name')['math_score'].mean()
avg_math_school = school_metrics_math.unique()
avg_math_complete = pd.Series(avg_math_school)

In [898]:
school_metrics_read = school_data_complete.groupby('school_name')['reading_score'].mean()
avg_read_school = school_metrics_read.unique()
avg_read_complete = pd.Series(avg_read_school)

0     81.033963
1     83.975780
2     81.158020
3     80.746258
4     83.816757
5     80.934412
6     83.814988
7     81.182722
8     80.966394
9     84.044699
10    80.744686
11    83.725724
12    83.848930
13    83.989488
14    83.955000
dtype: float64

* Sort and display the top five schools in overall passing rate

In [1028]:
Top_df = Summary.sort_values("%Overall Passing Rate", ascending=False)
Top_df.head()

,School Name,School Type,Total School Size,Total School Budget,Per Student Budget,Avg Math,Avg Read,%Passing Math,%Passing Reading,%Overall Passing Rate
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [1027]:
Bottom_df = Summary.sort_values("%Overall Passing Rate", ascending=True)
Bottom_df.head()

,School Name,School Type,Total School Size,Total School Budget,Per Student Budget,Avg Math,Avg Read,%Passing Math,%Passing Reading,%Overall Passing Rate
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.