### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [204]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how= "outer", on= (["school_name", "school_name"]))

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [205]:
school_name = school_data_complete["school_name"].unique()
school_count = len(school_name)
school_count

15

In [206]:
school_budget = school_data_complete["budget"].unique()
budget_total = school_budget.sum()
budget_total

24649428

In [207]:
student_IDs = school_data_complete["Student ID"].unique()
student_count = len(student_IDs)
student_count

39170

In [208]:
math_scores = school_data_complete["math_score"].sum()
math_average = math_scores/len(school_data_complete["math_score"])
math_average

78.98537145774827

In [209]:
read_scores = school_data_complete["reading_score"].sum()
read_average = read_scores/len(school_data_complete["reading_score"])
read_average

81.87784018381414

In [210]:
overall_passing_rate = (math_average + read_average)/2
overall_passing_rate

80.43160582078121

## School Summary

In [211]:
passing_math = school_data_complete["math_score"]>69.9
pass_math_percent = np.count_nonzero(passing_math)/len(school_data_complete["math_score"])
pass_math_percent

0.749808526933878

In [212]:
passing_reading = school_data_complete["reading_score"]>69.9
pass_reading_percent = np.count_nonzero(passing_reading)/len(school_data_complete["reading_score"])
pass_reading_percent

0.8580546336482001

In [213]:
Summary_table = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Total Budget": [budget_total],
                              "Average Math Score": [math_average],
                              "Average Reading Score": [read_average],
                              "% Passing Math": [pass_math_percent],
                              "% Passing Reading": [pass_reading_percent],
                             "% Overall Passing Rate": [overall_passing_rate]})
Summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [256]:
group_school = school_data_complete.groupby(["school_name"])
school_metrics = group_school.mean()
school_metrics

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [236]:
#Bailey_reading = school_metrics.loc['Cabrera High School', 'reading_score']
#Bailey_math = school_metrics.loc['Cabrera High School', 'math_score']
#Overall_Bailey = (Bailey_reading + Bailey_math)/2
#Overall_Bailey

83.51883745963401

In [276]:
Schools = school_data_complete.set_index("school_name")
Huang = Schools["school_name"] == "Huang High School"
Huang

KeyError: 'school_name'

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [160]:
Top_df = school_metrics.sort_values("reading_score", ascending=False)
Top_df.head(20)

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.